[Unit]
Description=Snapshot Scheduler Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/stack/snapshot-scheduler
ExecStart=/opt/stack/snapshot-scheduler/scheduler/start-scheduler.sh
Restart=on-failure
User=stack

[Install]
WantedBy=multi-user.target
