[Unit]
Description=Snapshot Scheduler Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/stack/snapshot-scheduler
ExecStart=/usr/bin/python3 /opt/stack/snapshot-scheduler/app/scheduler.py

Restart=on-failure
User=stack

[Install]
WantedBy=multi-user.target
