[Unit]
Description=CloudCost Idle Plugin Flask App
After=network.target

[Service]
Environment="OS_CLOUD=devstack"
ExecStart=/opt/stack/Cloudcost-Idle/.venv/bin/python3 /opt/stack/Cloudcost-Idle/bin/webapp.py
WorkingDirectory=/opt/stack/Cloudcost-Idle
Restart=always
User=stack

[Install]
WantedBy=multi-user.target
