[Unit]
Description=CloudWatcher Weather Tagger
After=network.target

[Service]
Type=simple
Environment="OS_CLOUDS_YAML=/opt/stack/cloudwatcher/config/clouds.yaml"
ExecStart=/opt/stack/cloudwatcher/venv/bin/python3 /opt/stack/cloudwatcher/bin/weather_tagger.py
Restart=always
User=stack

[Install]
WantedBy=multi-user.target
