[Unit]
Description=CloudCost Idle Plugin Service
After=network.target

[Service]
User=stack
WorkingDirectory=/opt/stack/Cloudcost-Idle
EnvironmentFile=/opt/stack/Cloudcost-Idle/devstack/settings
ExecStart=/opt/stack/Cloudcost-Idle/venv/bin/python3 app/dashboard.py

[Install]
WantedBy=multi-user.target
