[Unit]
Description=CloudCost Idle Plugin Service
After=network.target

[Service]
User=stack
WorkingDirectory=/opt/stack/Cloudcost-Idle
Environment=PYTHONPATH=/opt/stack/Cloudcost-Idle
ExecStart=/opt/stack/Cloudcost-Idle/venv/bin/python3 app/dashboard.py

[Install]
WantedBy=multi-user.target
