<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Green Cloud Dashboard</title>
    <script src="/static/script.js"></script>
</head>
<body>
    <h1>Green Cloud Plugin - Resource Usage</h1>
    <table border="1">
        <tr>
            <th>Instance</th>
            <th>CPU Usage (%)</th>
            <th>RAM Usage (MB)</th>
            <th>Estimated CO2 (kg)</th>
        </tr>
        {% for instance in instances %}
        <tr>
            <td>{{ instance.name }}</td>
            <td>{{ instance.cpu }}</td>
            <td>{{ instance.ram }}</td>
            <td>{{ instance.co2 }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
