<!DOCTYPE html>
<html>
<head>
    <title>CloudCost-Idle Dashboard</title>
</head>
<body>
    <h1>Estimated VM Costs</h1>
    <table border="1">
        <tr>
            <th>Name</th><th>vCPU</th><th>RAM (MB)</th><th>Disk (GB)</th><th>Uptime (h)</th><th>Cost ($)</th>
        </tr>
        {% for vm in costs %}
        <tr>
            <td>{{ vm.instance_name }}</td>
            <td>{{ vm.vcpu }}</td>
            <td>{{ vm.ram }}</td>
            <td>{{ vm.disk }}</td>
            <td>{{ vm.uptime }}</td>
            <td>{{ vm.estimated_cost }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/idle">Check Idle VMs</a>
</body>
</html>
